.idea/msa.iml
.idea/vcs.xml
.idea/workspace.xml
api_gateway_server/.idea/vcs.xml
api_gateway_server/api-gateway/.DS_Store
api_gateway_server/api-gateway/.gitattributes
api_gateway_server/api-gateway/.mvn/wrapper/maven-wrapper.properties
api_gateway_server/api-gateway/src/.DS_Store
db-compose/.env
db-compose/.idea/misc.xml
db-compose/.idea/modules.xml
db-compose/.idea/vcs.xml
eureka_server/.idea/eureka_server.iml
eureka_server/.idea/misc.xml
eureka_server/.idea/modules.xml
eureka_server/eureka/.gitattributes
eureka_server/eureka/.mvn/wrapper/maven-wrapper.properties
item/.DS_Store
item/.idea/compiler.xml
item/.idea/encodings.xml
item/.idea/jarRepositories.xml
item/.idea/misc.xml
item/.idea/vcs.xml
item/.idea/workspace.xml
item/itemservice/.gitattributes
item/itemservice/.mvn/wrapper/maven-wrapper.properties
order/.idea/misc.xml
order/.idea/modules.xml
order/.idea/order.iml
order/.idea/vcs.xml
order/orderservice/.gitattributes
order/orderservice/.mvn/wrapper/maven-wrapper.properties
user/.idea/compiler.xml
user/.idea/encodings.xml
user/.idea/jarRepositories.xml
user/.idea/misc.xml
user/.idea/modules.xml
user/.idea/user.iml
user/.idea/vcs.xml
user/userserver/.gitattributes
user/userserver/.mvn/wrapper/maven-wrapper.properties